{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Новости на сайте{% endblock %}

{% block css %}
  <!-- <link type="text/css" href="{% static 'news/css/asd.css' %}" rel="stylesheet"> -->
{% endblock css %}

{% block content %}

<div class ='news-home features'>
    <h1 style="text-align: unset; margin-bottom: 20px; margin-left: -30%;" class="h1-news">Новости</h1>
  <section class="categories categories-grid spad">
    <div class="categories__post">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            {% for el in news %}
                {% if news %}
                  <div class=" news-block categories__post__item categories__post__item--large">
                    <div class="news_pic set-bg"
                         data-setbg="{{ el.photo.url }}" style="background-image: url(../../..{{ el.photo.url }});">
                      <div class="post__meta">
                        <h4>{{ el.date|date:"d" }}</h4>
                        <span>{{ el.date|date:"M" }}</span>
                      </div>
                    </div>
                    <div class="news_text categories__post__item__text">
                      <ul class="post__label--large">
                        <li class="li-categories">Новость</li>
                      </ul>
                      <h3><a href="{% url 'news_view' el.id %}">{{ el.title }}</a></h3>
                      <ul class="ul-about">
                        <li class="li-about">by <span>{{ el.author }}</span></li>
                        <li class="li-about">3 min read</li>
                        <li class="li-about">20 Comment</li>
                        <li class="li-about"><i class="fas fa-eye"></i>  {{ el.views }} views</li>
                      </ul>
                      <p>{{ el.anons|slice:":200" }}  ...</p>
                      <a class="read-more" href="{% url 'news_view' el.id %}" class="primary-btn">Read more</a>
                    </div>
                  </div>
                {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
</section>
</div>

{% endblock %}