<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>404 | HoPHNi</title>
	<meta name="viewport" content="width=device-width">
	<meta name="title" content="HoPHNi">
	<meta name="author" content="HoPHNi">
	<meta name="description" content="HoPHNi">
	<meta name="keywords" content="HoPHNi coder web-programming web programming" />
	<link rel="canonical" href="https://hophni.co">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{% url 'home' %}">
	<meta property="og:title" content="HoPHNi">
	<meta property="og:description" content="HoPHNi">
	<meta property="og:image" content="HoPHNi">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://HoPHNi.co">
	<meta property="twitter:title" content="HoPHNi">
	<meta property="twitter:description" content="HoPHNi">
	<meta property="twitter:image" content="HoPHNi">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'main/icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/icon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/icon/safari-pinned-tab.svg' %}" color="#181818">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#181818">

	<!-- Fontawesome -->
	<link type="text/css" href="{% static 'user/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

	<!-- Notyf -->
	<link type="text/css" href="{% static 'user/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

	<!-- Volt CSS -->
	<link type="text/css" href="{% static 'user/css/volt.css' %}" rel="stylesheet">


    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<base href="/">
	<link rel="stylesheet" href="{% static 'main/css/404.css' %}">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
<body>
<div class="comingcontainer">
    <div class="checkbacksoon">
		<p>
			<span class="go3d">4</span>
			<span class="go3d">0</span>
			<span class="go3d">4</span>
			<span class="go3d">!</span>
			
		</p>
        
        <p class="error">
		Похоже, вы выбрали неправильный путь.<br> Не волнуйтесь, время от времени, это случается с каждым из нас.<br>
        Поисковая форма и ссылки ниже, помогут вам встать на путь истинный.</p>
		<form action="{% url 'search' %}" method="get" class="search">
  <input type="search" placeholder="Поиск" class="input" required name="q"/>
  <input type="submit" name="" value="" class="submit" />
</form>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
				<li><a href="{% url 'profile' %}">Профиль</a></li>
                <li><a href="{% url 'news_home' %}">Новости</a></li>
                <li><a href="{% url 'about' %}">О сайте</a></li>
                <li><a href="#">Поддержка</a></li>
            </ul>	
        </nav>
    
	</div>
</div>

</body>
</html>